<footer class="site-footer">

  <div class="container-fluid">
    <div class="row">

      <div class="col-4">
        <p style="text-indent:4rem;">Created by<br/>
          <a href="https://openoakland.org" style="border:none;"><img src="assets/images/OpenOakland-logo-color-1000.png" alt="OpenOakland logo" width="250px" style="margin-top:-.8rem;"></a>
        </p>
      </div>

      <div class="col-8">
        Funding Public Safety explores how Oakland spends Measure Z's approximately $24 million annual budget, so Oaklanders can better understand the City's approach to public safety and violence prevention.
      </div>

    </div>
  </div>


</footer>
