<header class="site-header fixed-top">

<div class="container-fluid"> {# Apply full-width #}
<nav class="navbar navbar-expand-lg navbar-light">

    <div class="container"> {# Center content #}

    <b><a class="navbar-brand" href="/funding-public-safety/">Funding Public Safety</a></b>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-items" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/funding-public-safety/about-measure-z">Measure Z</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/funding-public-safety/program-impacts/">Program Impacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/funding-public-safety/get-involved/">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/funding-public-safety/about-funding-public-safety/">About FPS</a>
        </li>
      </ul>
    </div>

    </div>


</nav>
</div>

</header>
